@tailwind base;
@tailwind components;
@tailwind utilities;

.alert {
    animation: fadeOut 3s forwards;
    animation-delay: 2s; /* Уведомление будет исчезать через 2 секунды */
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}
